* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: 'Abel', sans-serif;
  background-color: #f1f1f1;
}

/* Style for home section */
.home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('code-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}
.home .header_wrapper {
  float: right;
  padding-top: 20px;
}
.home .header_wrapper .nav ul{
  display: flex;
}
.home .header_wrapper .nav ul li a {
  text-decoration: none;
  margin-right: 50px;
  color: #fff;
}
.home .header_wrapper .nav ul li a:hover {
  border-bottom: 2px solid #CC6666;
}
li {
  list-style-type: none;
}
.home .home_content {
  text-align: center;
  padding-top: 200px;
  color: #fff;
}
.home .home_content h1 {
  font-size: 50px;
}
.home .home_content p {
  font-size: 20px;
}

/* About and Skills section style */
..about_and_skills {
    max-width: 1024px;
}
.about_and_skills .about_skills_wrapper{
  display: flex;
  margin-left: 100px;
  padding-top: 50px;
}

.about_and_skills .about_skills_wrapper .about_me {
  width: 50%;
}
.about_and_skills .about_skills_wrapper .about_me a {
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
.about_and_skills .about_skills_wrapper .about_me a:hover {
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
}
.about_and_skills .about_skills_wrapper .about_me h2{
  margin-bottom: 20px;
}
.about_and_skills .about_skills_wrapper .my_skills {
  width: 50%;
  margin-left: 60px;
}
.about_and_skills .about_skills_wrapper .my_skills h2{
  margin-bottom: 20px;
}
.about_and_skills .about_skills_wrapper .my_skills .first-bar {
  padding-bottom: 42px;
}
.about_and_skills .about_skills_wrapper .my_skills .first-bar .bar-content {
  display: flex;
}

/* Style for services section */
.services {
  margin-top: 40px;
}
.services h2{
  margin-bottom: 20px;
  text-align: center;
}
.services .card_row {
  display: flex;
  max-width: 80%;
  margin-left: 10%;
}
.services .card_row .card {
  text-align: center;
  margin-right: 30px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  height: 350px;
  padding: 10px;
}
.services .card_row .card h3 {
  padding-top: 20px;
  padding-bottom: 40px;
}


/* Style for portfolio section */
.portfolio {
  margin-top: 40px;
}
.portfolio h2{
  margin-bottom: 20px;
  text-align: center;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 23%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  cursor: pointer;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.column img:hover {
  opacity: 0.5;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #000;
  text-align: center;
  background-color: #fff;
  font-size: 40px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
  font-size: 70px;
  background-color: black;
  border: 2px solid #fff;
  border-radius: 70px;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 40%;
    margin-right: 20px;
  }
  #top_images, #bottom_images {
    padding-left: 75px;
  }
}

/* style for contact section and map */
form { max-width:1024px; margin:50px auto; }

.feedback-input {
  color:white;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: none;
  border-bottom:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}
::placeholder { /* Firefox 19+ */
  color: #fff;
}

.feedback-input:focus { border:2px solid #fff; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#fff;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:#000;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover {
  background:#CC4949;
  color: #fff;
}

.contact h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.contact {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('awe.jpg');
  background-size: cover;
  background-position: center;
  height: 530px;
}
